body{
    background-color: rgb(122, 229, 233);
}

h1
{
    color: rgb(112, 125, 236);
    background-color: rgb(196, 236, 243);
    font-size: 35px;
    padding-left: 18%;
}

#show_sketch
{
    float: right;
}

canvas
{
    border: 5px solid whitesmoke;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 100px;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {box-shadow: 1px 1px 38px #7086dd;}
    to {box-shadow: 1px 1px 38px rgb(172, 189, 241) ;}
}

p
{
    padding-top: 10px;
    font-size: 20px;
    padding-right: 20%;
}

h2
{
    color: rgb(9, 21, 128);
    background-color: rgb(196, 236, 243);
    font-size: 35px;
}

